@model SearchResultsModel
@inject NonceModel Nonces
<link rel="stylesheet" href="/css/accessible-autocomplete.min.css">
@section Scripts {
        <script nonce="@Nonces.GaNonce" type="text/javascript" src="/js/accessible-autocomplete.min.js" style-src='self'>
        </script>
}
<script nonce="@Nonces.GaNonce" type="text/javascript">
        var countries = [
                "Adur",
                "Allerdale",
                "Amber Valley",
                "Arun",
                "Ashfield",
                "Ashford",
                "Babergh",
                "Barking and Dagenham",
                "Barnet",
                "Barnsley",
                "Barrow-in-Furness",
                "Basildon",
                "Basingstoke and Deane",
                "Bassetlaw",
                "Bath and North East Somerset",
                "Bedford",
                "Bexley",
                "Birmingham",
                "Blaby",
                "Blackburn",
                "Blackpool",
                "Bolsover",
                "Bolton",
                "Boston",
                "Bournemouth, Christchurch and Poole",
                "Bracknell Forest",
                "Bradford",
                "Braintree",
                "Breckland",
                "Brent",
                "Brentwood",
                "Brighton and Hove",
                "Bristol",
                "Broadland",
                "Bromley",
                "Bromsgrove",
                "Broxbourne",
                "Broxtowe",
                "Buckinghamshire",
                "Burnley",
                "Bury",
                "Calderdale",
                "Cambridge",
                "Cambridgeshire",
                "Camden",
                "Cannock Chase",
                "Canterbury",
                "Carlisle",
                "Castle Point",
                "Central Bedfordshire",
                "Charnwood",
                "Chelmsford",
                "Cheltenham",
                "Cherwell",
                "Cheshire East",
                "Cheshire West and Chester",
                "Chesterfield",
                "Chichester",
                "Chorley",
                "Colchester",
                "Copeland",
                "Cornwall",
                "Cotswold",
                "Coventry",
                "Craven",
                "Crawley",
                "Croydon",
                "Cumbria",
                "Dacorum",
                "Darlington",
                "Dartford",
                "Derby",
                "Derbyshire",
                "Derbyshire Dales",
                "Devon",
                "Doncaster",
                "Dorset",
                "Dover",
                "Dudley",
                "Durham",
                "Ealing",
                "East Cambridgeshire",
                "East Devon",
                "East Hampshire",
                "East Hertfordshire",
                "East Lindsey",
                "East Riding of Yorkshire",
                "East Staffordshire",
                "East Suffolk",
                "East Sussex",
                "Eastbourne",
                "Eastleigh",
                "Eden",
                "Elmbridge",
                "Enfield",
                "Epping Forest",
                "Epsom & Ewell",
                "Erewash",
                "Exeter",
                "Fareham",
                "Fenland",
                "Folkestone",
                "Forest of Dean",
                "Fylde",
                "Gateshead",
                "Gedling",
                "Gloucester",
                "Gloucestershire",
                "Gosport",
                "Gravesham",
                "Great Yarmouth",
                "Greenwich",
                "Guildford",
                "Hackney",
                "Halton",
                "Hambleton",
                "Hammersmith and Fulham",
                "Hampshire",
                "Harborough",
                "Haringey",
                "Harlow",
                "Harrogate",
                "Harrow",
                "Hart",
                "Hartlepool",
                "Hastings",
                "Havant",
                "Havering",
                "Herefordshire",
                "Hertfordshire",
                "Hertsmere",
                "High Peak",
                "Hillingdon",
                "Hinckley and Bosworth",
                "Horsham",
                "Hounslow",
                "Hull",
                "Huntingdonshire",
                "Hyndburn",
                "Ipswich",
                "Isle of Wight",
                "Islington",
                "Kensington and Chelsea",
                "Kent",
                "Kings Lynn and West Norfolk",
                "Kingston upon Thames",
                "Kirklees",
                "Knowsley",
                "Lambeth",
                "Lancashire",
                "Lancaster",
                "Leeds",
                "Leicester",
                "Leicestershire",
                "Lewes",
                "Lewisham",
                "Lichfield",
                "Lincoln",
                "Lincolnshire",
                "Liverpool",
                "Luton",
                "Maidstone",
                "Maldon",
                "Malvern",
                "Manchester",
                "Mansfield",
                "Medway",
                "Melton",
                "Mendip",
                "Merton",
                "Mid Devon",
                "Mid Suffolk",
                "Mid Sussex",
                "Middlesbrough",
                "Milton Keynes",
                "Mole Valley",
                "New Forest",
                "Newark and Sherwood",
                "Newcastle-under-Lyme",
                "Newcastle-upon-Tyne",
                "Newham",
                "Norfolk",
                "North Devon",
                "North East Derbyshire",
                "North East Lincolnshire",
                "North Hertfordshire",
                "North Kesteven",
                "North Lincolnshire",
                "North Norfolk",
                "North Northamptonshire",
                "North Somerset",
                "North Tyneside",
                "North Warwickshire",
                "North West Leicestershire",
                "North Yorkshire",
                "Northumberland",
                "Norwich",
                "Nottingham",
                "Nottinghamshire",
                "Nuneaton and Bedworth",
                "Oadby and Wigston",
                "Oldham",
                "Oxford",
                "Oxfordshire",
                "Pendle",
                "Peterborough",
                "Plymouth",
                "Portsmouth",
                "Preston",
                "Reading",
                "Redbridge",
                "Redcar and Cleveland",
                "Redditch",
                "Reigate and Banstead",
                "Ribble Valley",
                "Richmond upon Thames",
                "Richmondshire",
                "Rochdale",
                "Rochford",
                "Rossendale",
                "Rother",
                "Rotherham",
                "Rugby",
                "Runnymede",
                "Rushcliffe",
                "Rushmoor",
                "Rutland",
                "Ryedale",
                "Salford",
                "Sandwell",
                "Scarborough",
                "Sedgemoor",
                "Sefton",
                "Selby",
                "Sevenoaks",
                "Sheffield",
                "Shropshire",
                "Slough",
                "Solihull",
                "Somerset",
                "Somerset West and Taunton",
                "South Cambridgeshire",
                "South Derbyshire",
                "South Gloucestershire",
                "South Hams",
                "South Holland",
                "South Kesteven",
                "South Lakeland",
                "South Norfolk",
                "South Oxfordshire",
                "South Ribble",
                "South Somerset",
                "South Staffordshire",
                "South Tyneside",
                "Southampton",
                "Southend-on-Sea",
                "Southwark",
                "Spelthorne",
                "St Albans",
                "St Helens",
                "Stafford",
                "Staffordshire",
                "Staffordshire Moorlands",
                "Stevenage",
                "Stockport",
                "Stockton-on-Tees",
                "Stratford on Avon",
                "Stroud",
                "Suffolk",
                "Sunderland",
                "Surrey",
                "Surrey Heath",
                "Sutton",
                "Swale",
                "Swindon",
                "Tameside",
                "Tamworth",
                "Teignbridge",
                "Telford and Wrekin",
                "Tendridge",
                "Tendring",
                "Test Valley",
                "Tewkesbury",
                "Thanet",
                "Three Rivers",
                "Thurrock",
                "Tonbridge and Malling",
                "Torbay",
                "Torridge",
                "Tower Hamlets",
                "Trafford",
                "Tunbridge Wells",
                "Uttlesford",
                "Vale of White Horse",
                "Wakefield",
                "Walsall",
                "Waltham Forest",
                "Wandsworth",
                "Warrington",
                "Warwick",
                "Warwickshire",
                "Watford",
                "Waverley",
                "Wealden",
                "Welwyn Hatfield",
                "West Berkshire",
                "West Devon",
                "West Lancashire",
                "West Lindsey",
                "West Northamptonshire",
                "West Oxfordshire",
                "West Suffolk",
                "West Sussex",
                "Westminster",
                "Wigan",
                "Wiltshire",
                "Winchester",
                "Windsor and Maidenhead",
                "Wirral",
                "Woking",
                "Wokingham",
                "Wolverhampton",
                "Worcester",
                "Worcestershire",
                "Worthing",
                "Wychavon",
                "Wyre",
                "Wyre Forest",
                "York",
        ] 
</script>

<script nonce="@Nonces.GaNonce" type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
                var element = document.querySelector('#tt-default')
                var id = 'Area'
                accessibleAutocomplete({
                        element: element,
                        id: id,
                        source: countries
                })
        }) 
</script>
<div class="govuk-width-container ">
        <a href="@Url.Action("Index", "Search")" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper">

                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__heading">
                                                These organisations sell shared ownership homes in
                                        </h1>
                                </legend>
                                <form action="@Url.Action("SearchResults", "Search")" method="post" autocomplete="off">
                                        <div class="govuk-form-group">
                                                <div id="searchArea-hint" class="govuk-hint">
                                                        You can search by the local authority
                                                </div>
                                                <div id="searchArea-container">
                                                        <div id="tt-default" class="autocomplete-wrapper">
                                                                <div class="autocomplete__wrapper">
                                                                        <div>
                                                                                <div id="@Model.Area" name="@Model.Area"
                                                                                        role="status" aria-atomic="true"
                                                                                        aria-live="polite"></div>
                                                                        </div>
                                                                        <ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden"
                                                                                id="autocomplete-default__listbox"
                                                                                role="listbox"></ul>
                                                                        <span
                                                                                id="autocomplete-default__assistiveHint"></span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <button class="govuk-button" data-module="govuk-button">
                                                Search
                                        </button>
                                </form>
                        </div>
                </div>


                @foreach (var provider in Model.ProviderModels ?? new List<ProviderModel>())
                {
                        <h2 class="govuk-heading-m">@provider.Name</h2>
                        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Email:</span> 
                                <a href="milto:@provider.AdminEmail">@provider.AdminEmail </a>
                        </p>
                        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Website:</span> 
                                <a href="@provider.Website">@provider.Website</a>
                        </p>
                        if(provider.Opso || provider.Hold)
                        {
                                <h3 class="govuk-heading-s govuk-!-font-weight-regular">@provider.Name sells homes through: </h3>
                        }
                        
                        @if (provider.Opso)
                        {
                                <ul class="govuk-list govuk-list--bullet">
                                        <li>Older People's Shared Ownership (OPSO)</li>
                                </ul>
                        }

                        @if (provider.Hold)
                        {
                                <ul class="govuk-list govuk-list--bullet">
                                        <li>Home Ownership for People with Long-Term Disabilities (HOLD)</li>
                                </ul>
                        }

                        if(Model?.ProviderModels?.Last().Equals(provider) != true)
                        {
                                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                        }
                }
</main>
</div>
</div>
