@model SearchResultsModel
@{
    var action = ViewContext.RouteData.Values["action"];
}
<div class="govuk-form-group">
    @switch (action)
    {
        case "Index":
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="Area">
                    Where do you want to buy a home?
                </label>
            </h1>
            break;
        default:
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="Area">
                    Search again
                </label>
            </h2>
            break;
    }
    <div id="Area-hint" class="govuk-hint">
        <label for="Area">You can search by local authority</label>
    </div>
    <div id="searchArea-container">
        <div id="tt-default" class="autocomplete-wrapper">
            <div class="autocomplete__wrapper">
                <div>
                    <noscript>
                        <input type="text" id="Area" name="Area" value="@Model.Area" class="autocomplete__input"
                               autocomplete="off" spellcheck="false" autocapitalize="off" autocorrect="off"
                               placeholder="" aria-autocomplete="list" aria-controls="autocomplete-default__listbox" />
                    </noscript>
                    <div id="@Model.Area" name="@Model.Area" role="status" aria-atomic="true" aria-live="polite">
                    </div>
                </div>
                <ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden"
                    id="autocomplete-default__listbox" role="listbox">
                </ul>
                <span id="autocomplete-default__assistiveHint"></span>
            </div>
        </div>
    </div>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Products-hint">
        @switch (action)
        {
            case "Index":
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Are you looking for a particular product? (optional)
                    </h2>
                </legend>
                break;
            default:
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Are you looking for a particular product? (optional)
                    </h3>
                </legend>
                break;
        }
        <div id="Products-hint" class="govuk-hint">
            Select all that apply
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input" id="SharedOwnership" name="Products" value="SharedOwnership" checked="@(Model.IsSharedOwnershipSelected ? "checked" : null)" />
                <label class="govuk-label govuk-checkboxes__label" for="SharedOwnership">
                    Shared ownership
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input" id="Hold" name="Products" value="Hold" checked="@(Model.IsHoldSelected ? "checked" : null)" />
                <label class="govuk-label govuk-checkboxes__label" for="Hold">
                    Home ownership for people with long term disabilities (HOLD)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input" id="Opso" name="Products" value="Opso" checked="@(Model.IsOpsoSelected ? "checked" : null)" />
                <label class="govuk-label govuk-checkboxes__label" for="Opso">
                    Older persons shared ownership (OPSO)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input" id="RentToBuy" name="Products" value="RentToBuy" checked="@(Model.IsRentToBuySelected ? "checked" : null)" />
                <label class="govuk-label govuk-checkboxes__label" for="RentToBuy">
                    Rent to buy
                </label>
            </div>
        </div>
    </fieldset>
</div>
