@model EligibilityJourneyAffordability
@{
    ViewBag.Title = "Affordable with Shared Ownership";
    var affordWithoutSharedOwnership = nameof(EligibilityJourneyAffordability.affordWithoutSharedOwnership);
}

<div class="govuk-width-container ">
    <div role="navigation" aria-label="navigate back">
        <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
    </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if ((ViewContext.HttpContext.Items["errorsBool"] as bool?) == true)
                    @await Html.PartialAsync("_ErrorSummary", ViewContext.HttpContext.Items["errors"])

                <form method="post">
                    @await Html.PartialAsync("_GovFormGroupValidation", new GovukValidatedFormFieldModel
               {
                   HtmlId = affordWithoutSharedOwnership,
                   ValidationMessage = Html.ValidationMessageFor(m => m.affordWithoutSharedOwnership),
                   AriaDescribe = affordWithoutSharedOwnership + "-error",
                   Errors = ViewContext.HttpContext.Items["errors"] as IList<ErrorSummary>,
                   Title = "Select the option that applies to you",
                   Content =
                        @<div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="can-afford-without-sp" asp-for="@affordWithoutSharedOwnership" name="@affordWithoutSharedOwnership"
                                               type="radio" value=true>
                                        <label class="govuk-label govuk-radios__label" for="can-afford-without-sp">
                                            I can afford a home without using shared ownership
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="cant-afford-without-sp" asp-for="@affordWithoutSharedOwnership" name="@affordWithoutSharedOwnership"
                                               type="radio" value=false>
                                        <label class="govuk-label govuk-radios__label" for="cant-afford-without-sp1">
                                            I cannot afford a home unless I use shared ownership
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
               })
                    <button class="govuk-button" id="eligibility-Page-5-Submit-Button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>