@model EligibilityJourneyFirstTimeBuyer
@{
    ViewBag.Title = "How much do you earn";
    var FirstTimeBuyer = nameof(EligibilityJourneyFirstTimeBuyer.firstTimeBuyer);
}

<div class="govuk-width-container ">
    <div role="navigation" aria-label="navigate back">
        <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
    </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if ((ViewContext.HttpContext.Items["errorsBool"] as bool?) == true)
                    @await Html.PartialAsync("_ErrorSummary", ViewContext.HttpContext.Items["errors"])

                <form method="post">
                    @await Html.PartialAsync("_GovFormGroupValidation", new GovukValidatedFormFieldModel
               {
                   HtmlId = FirstTimeBuyer,
                   ValidationMessage = Html.ValidationMessageFor(m => m.firstTimeBuyer),
                   AriaDescribe = FirstTimeBuyer + "-error",
                   Errors = ViewContext.HttpContext.Items["errors"] as IList<ErrorSummary>,
                   Title = "Choose one option from below",
                   Content =
                        @<div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="first-time-buyer" asp-for="@FirstTimeBuyer" name="@FirstTimeBuyer"
                                               type="radio" value=true>
                                        <label class="govuk-label govuk-radios__label" for="first-time-buyer">
                                            I do not own a home
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="own-a-home" asp-for="@FirstTimeBuyer" name="@FirstTimeBuyer"
                                               type="radio" value=false>
                                        <label class="govuk-label govuk-radios__label" for="own-a-home">
                                            I own a home but need to move
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
               })
                    <button class="govuk-button" id="eligibility-Page-4-Submit-Button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
